@import url("./variables.css");

@media screen and (min-width: 35.99875em) {
  body {
    display: grid;
    place-items: center;
    min-height: 100vh;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1.8fr;
    max-width: 46.875rem;
    padding-inline: 0 !important;
    margin-block-start: 0 !important;
    box-shadow: none !important;
  }
  :is(.article-title, .article-content, .user) {
    margin-inline: 1.5em;
  }
  .pop-up {
    transform: translate(208%, -160px) !important;
    justify-content: center !important;
    border-radius: 10px !important;
    position: relative;
  }
  .pop-up::after {
    content: "";
    position: absolute;
    right: 100%;
    top: 56px;
    left: 120px;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 20px solid var(--clr-darkgrayishBlue);
    border-bottom: 13px solid transparent;
  }
}
