@import url('./variables.css');

@media screen and (min-width: 35.99875em) {
    .container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        min-height: 100vh;
        place-items: center;
    }
}