@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('./reset.css');
@import url('./variables.css');
@import url('./media_queries.css');



/* || General */
body {
    font-family: 'Manrope', sans-serif;
    font-size: var(--fs-normal);
    background-color: var(--clr-lightgrayishBlue);
}


.container {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    margin-block-start: 3em;
    padding-inline: 1em;
}
.drawer {
    display: grid;
    
    .drawer-img {
        border-radius: 14px 14px 0 0;
        height: 40vh;
        width: 100%;
        
    }
}
/* || article */
.article {
    --margin: 1em;
    background-color: hsl(0, 0%, 100%);
   padding-inline: var(--margin);
    
    .article-title {
        color: var( --clr-darkgrayishBlue);
        font-weight: var(--fw-700);
        padding-block-start: var(--margin);
      
    }

    .article-content {
        color: var(--clr-desaturateddarkBlue);
        margin-block: var(--margin);
      
        font-weight: var(--fw-500);
    }
}
/* user info */
.user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    --img-size: 3.125rem;
 
  
    .user-info-con {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.7rem;
    }

    .user-img {
        border-radius: 50%;
        object-fit: contain;
        max-width: var(--img-size);
        max-height: var(--img-size);
    }
    .user-info {
        display: flex;
        flex-direction: column;

        .user-name {
            color: var(--clr-darkgrayishBlue);
            font-weight: var(--fw-700);
        }
        .user-date-info {
            color: var(--clr-desaturateddarkBlue);
        }
    }
    .icon-share {
        --icon-size: 2.5rem;
        background-color:var(--clr-lightgrayishBlue);
        width: var(--icon-size);
        height: var(--icon-size);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        
        z-index: 1;

        .icon-share-img {
           
            color: var(--clr-darkgrayishBlue);
            font-weight: var(--fw-700);
            
        }
    }

}
/* pop up social icons */
.pop-up {
    background-color: var(--clr-darkgrayishBlue);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-block: 1.5em;
    gap: 2em;
    border-radius: 0 0 14px 14px;
    transform: translateY(-50px);
    display: none;
    
    & p {
        color: var(--clr-grayishBlue);
        letter-spacing: 0.5rem;
        text-transform: uppercase;
        margin-inline-start: 1em;
     
    }
      
   
}